In [3]:
import pandas as pd
pd.set_option('display.max_rows', None)

In [ ]:
raid_train_path = '/Users/mle/Documents/MLEngineering/Vizuara_LLMResearch/Week2_V2/dataset/raid/raid_train.csv'
raid_extra_path = '/Users/mle/Documents/MLEngineering/Vizuara_LLMResearch/Week2_V2/dataset/raid/raid_extra.csv'

raid_train = pd.read_csv(raid_train_path)
raid_extra = pd.read_csv(raid_extra_path)
raid_extra_code = raid_extra[raid_extra['domain'] == 'code']

In [4]:
raid_extra_path = '/Users/mle/Documents/MLEngineering/Vizuara_LLMResearch/Week2_V2/dataset/raid/raid_extra.csv'
raid_extra = pd.read_csv(raid_extra_path)
raid_extra_code = raid_extra[raid_extra['domain'] == 'code']

In [7]:
raid_extra_code.head()

,id,adv_source_id,source_id,model,decoding,repetition_penalty,attack,domain,title,prompt,generation
0,525a4452-faa9-4c02-a63e-926c1050a313,525a4452-faa9-4c02-a63e-926c1050a313,525a4452-faa9-4c02-a63e-926c1050a313,human,NaN,NaN,none,code,Write a function to find the minimum cost path...,NaN,"R = 3\r\nC = 3\r\ndef min_cost(cost, m, n): \r..."
1,95d79f65-89e2-4bd2-93be-5c3ed995e485,95d79f65-89e2-4bd2-93be-5c3ed995e485,95d79f65-89e2-4bd2-93be-5c3ed995e485,human,NaN,NaN,none,code,Write a function to find the number of ways to...,NaN,def count_ways(n): \r\n\tA = [0] * (n + 1) \r\...
2,90001d71-d7b2-4982-b531-676a399bb848,90001d71-d7b2-4982-b531-676a399bb848,90001d71-d7b2-4982-b531-676a399bb848,human,NaN,NaN,none,code,Write a python function to find the minimum nu...,NaN,def find_Rotations(str): \r\n tmp = str + s...
3,bd793d97-9023-41c8-94ba-4a38a1aa70e8,bd793d97-9023-41c8-94ba-4a38a1aa70e8,bd793d97-9023-41c8-94ba-4a38a1aa70e8,human,NaN,NaN,none,code,Write a function to count the most common word...,NaN,from collections import Counter\r\ndef count_c...
4,f800a5e8-ee78-420b-9285-b3fd8ab9c319,f800a5e8-ee78-420b-9285-b3fd8ab9c319,f800a5e8-ee78-420b-9285-b3fd8ab9c319,human,NaN,NaN,none,code,Write a function to find the perimeter of a sq...,NaN,def square_perimeter(a):\r\n perimeter=4*a\r\...

In [13]:
raid_dataset = pd.concat([raid_train, raid_extra_code])

In [ ]:
raid_dataset[raid_dataset['domain'] == 'code']

In [17]:
raid_dataset.groupby('domain')['model'].value_counts().reset_index().to_csv('/Users/mle/Documents/MLEngineering/Vizuara_LLMResearch/Week2_V2/dataset/raid_distribution.csv')

In [18]:
raid_distribution_path = '/Users/mle/Documents/MLEngineering/Vizuara_LLMResearch/Week2_V2/dataset/raid_distribution.csv'
raid_distribution = pd.read_csv(raid_distribution_path)

In [27]:
raid_distribution[raid_distribution['domain'] == 'code']

    Unnamed: 0 domain         model  count
24          24   code          gpt2  44160
25          25   code    llama-chat  44160
26          26   code       mistral  44160
27          27   code  mistral-chat  44160
28          28   code           mpt  44160
29          29   code      mpt-chat  44160
30          30   code       chatgpt  22080
31          31   code        cohere  22080
32          32   code   cohere-chat  22080
33          33   code          gpt3  22080
34          34   code          gpt4  22080
35          35   code         human  11040

In [1]:
raid_dataset.head()

NameError: name 'raid_dataset' is not defined

In [23]:

arxiv_dataset = pd.read_csv('/Users/mle/Documents/MLEngineering/Vizuara_LLMResearch/Week2_V2/dataset/arxiv-abstracts-2021/csv/train.csv')

/var/folders/v1/9ry4zkbd1v161tw5k5d51kk80000gn/T/ipykernel_4855/1621968660.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  arxiv_dataset = pd.read_csv('/Users/mle/Documents/MLEngineering/Vizuara_LLMResearch/Week2_V2/dataset/arxiv-abstracts-2021/csv/train.csv')

In [24]:
arxiv_dataset.head()

,id,submitter,authors,title,comments,journal-ref,doi,abstract,report-no,categories,versions
0,704.0001,Pavel Nadolsky,"C. Bal\'azs, E. L. Berger, P. M. Nadolsky, C.-...",Calculation of prompt diphoton production cros...,"37 pages, 15 figures; published version","Phys.Rev.D76:013009,2007",10.1103/PhysRevD.76.013009,A fully differential calculation in perturba...,ANL-HEP-PR-07-12,['hep-ph'],['v1' 'v2']
1,704.0002,Louis Theran,Ileana Streinu and Louis Theran,Sparsity-certifying Graph Decompositions,To appear in Graphs and Combinatorics,NaN,NaN,"We describe a new algorithm, the $(k,\ell)$-...",NaN,['math.CO cs.CG'],['v1' 'v2']
2,704.0003,Hongjun Pan,Hongjun Pan,The evolution of the Earth-Moon system based o...,"23 pages, 3 figures",NaN,NaN,The evolution of Earth-Moon system is descri...,NaN,['physics.gen-ph'],['v1' 'v2' 'v3']
3,704.0004,David Callan,David Callan,A determinant of Stirling cycle numbers counts...,11 pages,NaN,NaN,We show that a determinant of Stirling cycle...,NaN,['math.CO'],['v1']
4,704.0005,Alberto Torchinsky,Wael Abu-Shammala and Alberto Torchinsky,From dyadic $\Lambda_{\alpha}$ to $\Lambda_{\a...,NaN,"Illinois J. Math. 52 (2008) no.2, 681-689",NaN,In this paper we show how to compute the $\L...,NaN,['math.CA math.FA'],['v1']

In [25]:
arxiv_dataset.shape

(1999486, 11)